[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

innodb-buffer-pool-size=20M

bind-address=0.0.0.0
server-id=100
log_bin=/var/log/mysql/mysql-bin.log
relay-log=/var/log/mysql/mysql-relay-bin.log
replicate-ignore-db=mysql
